@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
p{
    font-size: 333px;
}
@media screen and (max-width: 1860px){
    p{
        font-size: 300px;
    }
}
@media screen and (max-width: 1677px){
    p{
        font-size: 250px;
    }
}
@media screen and (max-width: 1397px){
    p{
        font-size: 200px;
    }
}
@media screen and (max-width: 1118px){
    p{
        font-size: 150px;
    }
}
@media screen and (max-width: 839px){
    p{
        font-size: 100px;
    }
}
@media screen and (max-width: 559px){
    p{
        font-size: 50px;
    }
}
@media screen and (max-width: 280px){
    p{
        font-size: 30px;
    }
}
@media screen and (max-width: 168px){
    p{
        font-size: 20px;
    }
}