*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
div{
    background-color: #697565;
    width: 200px;
    height: 200px;

    transition-property: transform border-radius;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}
div:hover{
    transform: rotate(45deg);
    border-radius: 50%;
}