*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
div{
    background-color: #00ff00;
    width: 200px;
    height: 200px;
    transition: transform 0.5s, background-color 0.9s;
}
div:hover{
    transform: rotate(45deg) scale(2) translate(30px, 30px) skew(45deg);
    background-color: blue;
}