*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #fff;
    border-radius: 12px;
    padding: 50px;
    background-color: #81BFDA;
}
p{
    font-size: 50px;
    color: #fff;
}
#buttons{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}
button{
    padding: 5px;
    font-size: 15px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    background-color: #fff;
}
button:hover{
    background-color: #F4F6FF;
}