@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Figtree;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f1f1f1;
}
#main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.divs{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #001845;
    background-color: #fff;
    border: 5px solid #49cae3;
    border-radius: 12px;
    font-size: 60px;
    font-weight: 500;
    height: 140px;
    width: 400px;
}
.main-divs{
    display: flex;
    flex-direction: row;
    gap: 15px;
}
#a{
    width: 615px;
    height: 130px;
}
#e, #c{
    width: 200px;
}

@media screen and (max-width: 614px){
    .divs, #a, #e{
        width: 400px;
    }
    #c, #d{
        width: 192px;
    }
    #b-e{
        flex-direction: column;
    }
    #c-d{
        gap: 16px;
    }
}