@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Figtree;
}
body{
    background-color: hsl(47, 88%, 63%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#main{
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    border: 1px solid hsl(0, 0%, 7%);
    border-radius: 20px;
    box-shadow: 7px 7px hsl(0, 0%, 7%);
}
#img-1{
    border-radius: 10px;
}
#div-1{
    background-color:hsl(47, 88%, 63%);
    padding: 7px;
    width: 80px;
    border-radius: 4px;
    margin-top: 20px;
}
#p-1{
    font-weight: 800;
}
#p-2{
    color: hsl(0, 0%, 42%);
    font-weight: 600;
    margin-top: 15px;
}
#p-3{
    font-size: 27px;
    font-weight: 800;
    margin-top: 18px;
}
#p-3:hover{
    color:hsl(47, 88%, 63%);
    cursor: pointer;
}
#p-4{
    color:hsl(0, 0%, 42%);
    width: 312px;
    font-weight: 500;
    margin-top: 15px;
    line-height: 23px;
    opacity: 0.7;
}
#div-2{
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 20px;
}
#img-2{
    width: 32px;
    height: 32px;
}
#p-5{
    font-weight: 800;
}