@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f1f1f1;
}
#main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}
#left{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 250px;
    background-color: #fff;
    border: 3px solid #65cfe6;
    border-radius: 16px 0px 0px 16px;
    font-size: 30px;
}
#right{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 250px;
    background-color: #fff;
    border: 3px solid #65cfe6;
    border-radius: 0px 16px 16px 0px;
    font-size: 30px;
}
@media screen and (max-width: 315px){
    #left{
        width: 200px;
        height: 150px;
        border-radius: 16px 16px 0px 0px;
    }
    #right{
        width: 200px;
        height: 150px;
        border-radius: 0px 0px 16px 16px;
    }
}