@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

*{
    font-family: Karla;
}
body{
    background-color: hsl(204, 43%, 93%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
main{
    border-radius: 10px;
    overflow: hidden;
}
#first-div{
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 550px;
}
h2{
    color: hsl(179, 62%, 43%);
}
#top-p{
    color: hsl(71, 73%, 54%);
    font-size: 18px;
    font-weight: 600;
}
#bottom-p{
    color: hsl(218, 22%, 67%);
}
#div-2{
    display: flex;
    flex-direction: row;
}
#signup-div{
    background-color: hsl(179, 62%, 43%);
    width: 245px;
    padding: 30px;
}
#heading{
    font-size: 18px;
    font-weight: 600;
}
.text, button{
    color: hsl(204, 43%, 93%);
}
#price-p{
    color: hsl(182, 57%, 64%);
}
b{
    font-size: 30px;
}
button{
    background-color: hsl(71, 73%, 54%);
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 237px;
}
#right-div{
    background-color: hsl(179, 47%, 52%);
    display: flex;
    flex-wrap: wrap;
    width: 245px;
    padding: 30px;
}
#tp{
    font-size: 18px;
    font-weight: 500;
}