#p-1{
    text-decoration: overline dotted;
}
#p-2{
    text-decoration: line-through double;
}
#p-3{
    text-decoration: underline wavy;
}
#p-4{
    text-decoration: overline solid;
}
#p-5{
    text-decoration: line-through dotted;
}
#p-6{
    text-decoration: underline double;
}
#p-7{
    text-decoration: overline wavy;
}
#p-8{
    text-decoration: line-through solid;
}
#p-9{
    text-decoration: overline dotted;
}
#p-10{
    text-decoration: line-through double;
}