*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
button{
    background-color: #3498db;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}
button:hover{
    transform: scale(1.5) translate(0px, -5px);
}
button:active {
    background-color: red;
    letter-spacing: 2px;
}