*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#circle{
    background-color: red;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    /* position: absolute; */
    position: relative;
    /* transform: translate(0px, -20px); */
}
#main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: 1px solid red; */
}