*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.slider{
    position: relative;
    width: 400px;
    height: 596px;
    overflow: hidden;
    border-radius: 8px;
    border: 2px solid #000;
}
.slides{
    display: flex;
}
.slide{
    min-width: 100%;
    height: 100%;
}
.buttons{
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}
.buttons button{
    background-color: transparent;
    color: #fff;
    border: 1px solid #000;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
    margin: 3px;
}